/* .logo {
    background-repeat: no-repeat;
    font-size: 0;
    height: 40px;
    width: 182px;
    display: block;
    background-image: url("https://www.zoomcar.com/build/98e56e8b0b91e8806885a22ac2bf69a7.png");
  } */

  .logo {
    float: left;
    width: 182px;
    height: 40px;
    margin: 12px 24px 16px 0;
    background-image: url('https://www.zoomcar.com/build/98e56e8b0b91e8806885a22ac2bf69a7.png');
}

.header .host{
    background-color: white;
    padding: 10px 12px;
    border-radius: 50px;
    background-position: 10% 50%;
    padding-left: 46.4px;
    background-image: url('https://www.zoomcar.com/build/e222e7ff96ffdd76290118718d52d71f.svg');
    background-repeat: no-repeat;
    text-decoration:none;
    margin-right: 3rem;
}
.header .zms{
    color: white;
    margin-right: 3rem;
    font-weight: bold;
    font-size: 18px;
}
.header .login{
    color: white;
    font-weight: bold;
    font-size: 18px;
}
 .back-arrow{
    position: relative;
    z-index: 2;
    padding: 16px;
    background: white;
}