.main {
  background-image: url("https://www.zoomcar.com/img/bg-desktop.png");
  background-size: cover;
  background-position: bottom right;
}

.main .form {
  padding: 16px;
  padding-top: 250px;
  max-width: 440px;
  margin: 0 auto;
}
.main .form-item-box {
  border: solid 1px #e0e0e0;
  border-radius: 4px;
  margin-bottom: 16px;
  cursor: pointer;
}
.main .form-item-box .field-wrapper {
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  color: #1f1f1f;
}
.main .form-item-box .address-field {
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  color: #1f1f1f;
}
.main .form-item-box .green-dot {
  min-width: 8px;
  min-height: 8px;
  border-radius: 50%;
  background-color: #10a310;
  box-shadow: 0 0 8px 8px #e6ffea;
  margin-left: 8px;
  margin-right: 16px;
}
.main .form-item-box .placeholders {
  color: #a8a8a8;
  flex: 1;
  padding-top: 16px;
  padding-bottom: 16px;
}

.main .form-item {
  display: inline-flex;
  align-items: center;
  padding: 8px 0;
  width: 100%;
}

.form-item .form-item-container {
  display: flex;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-bottom: 8px;
  height: 50px;
}
.form-item .form-item-container .form-item-text {
  text-align: center;
  flex-basis: 0;
  flex-grow: 1;
  cursor: pointer;
}
.form-item .form-item-container .form-item-text .form-item-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.main .form-item .ant-btn-primary {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  color: #10a310;
  border-color: #10a310;
}
.main .form-item-last .disableBtn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  max-width: 440px;
  margin-top: 0;
  margin-bottom: 16px;
  margin-right: auto;
  margin-left: auto;
  border: none;
  border-radius: 4px;
  width: 100%;
  font-family: "IBM Plex Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 2px 2px 0 rgb(0 0 0 / 14%);
}
.main .form-item-last .active {
  background-color: #10a310;
  color: #fff;
}
.main .form-item-last .disable {
  background-color: gray;
  color: #fff;
}
.main .form-item-box .anticon svg {
  display: block;
}
.anticon {
  display: flex;
  justify-content: center;
}
.ant-btn > span {
  display: block;
}

.location .row .anticon {
  justify-content: left;
}
.location-box {
  width: 100%;
  justify-content: center;
  max-width: inherit;
  flex-direction: unset;
}

.border-box {
  border: solid 1px #e0e0e0;
  border-radius: 4px;
  margin-bottom: 16px;
}
.border-box .field {
  background-color: #fff;
  border-radius: 4px;
}
.field .field-inbox {
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  color: #1f1f1f;
}
.field .field-inbox .dot {
  min-width: 8px;
  min-height: 8px;
  border-radius: 50%;
  background-color: #10a310;
  box-shadow: 0 0 8px 8px #e6ffea;
  margin-left: 8px;
  margin-right: 16px;
}
.field .field-inbox .input-text {
  flex: 1;
  border: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: auto;
  color: #1f1f1f;
  padding-top: 16px;
  padding-bottom: 16px;
  border-color: white;
  width: 100%;
  outline: none;
}

/* choose date component */
.dt {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #fff;
  z-index: 999;
  -webkit-animation: 0.3s fadeInUp ease;
  animation: 0.3s fadeInUp ease;
  overflow: hidden;
}
.dt .back-to-home {
  padding: 8px 16px;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 50px;
  font-size: 14px;
}
.dt .back-to-home .heading {
  padding: 8px;
  margin-right: 8px;
  display: flex;
  align-items: center;
}
.back-to-home .heading .icon {
  background-image: url("https://www.zoomcar.com/img/icons/icons_arrows_arrow_left.png");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  background-size: cover;
  padding: 8px;
  margin-right: 8px;
  cursor: pointer;
  text-decoration: none;
}

.heading h2 {
  flex: 1;
  margin: 0;
  font-weight: 500;
}
.container-wrapper {
  margin-top: 40px;
  max-width: -webkit-fit-content;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
}
.time-bar {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.select-time {
  width: 40%;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}
.time-box {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #1f1f1f;
  font-size: 13px;
}
.divider {
  display: flex;
  align-items: center;
}
.time-right {
  text-align: right;
}
.clear-btn {
  cursor: pointer;
  border: none;
  background: white;
  color: #10a310;
  font-size: 14px;
  font-weight: 600;
}
.dt .row .col-lg-8 {
  margin-top: 40px;
}
.calender {
  margin: 32px 0 0;
  background: #fbfbfb;
  padding: 15px 60px;
  flex-direction: row;
  height: auto;
  overflow: none;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  box-sizing: border-box;
}
.button-wrapper .continue-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  max-width: 440px;
  margin-top: 0;
  margin-bottom: 16px;
  margin-right: auto;
  margin-left: auto;
  border: none;
  border-radius: 4px;
  width: 100%;
  font-family: "IBM Plex Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  background-color: #10a310;
  color: #fff;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 2px 2px 0 rgb(0 0 0 / 14%);
}
.button-wrapper .continue-btn-disable {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  max-width: 440px;
  margin-top: 0;
  margin-bottom: 16px;
  margin-right: auto;
  margin-left: auto;
  border: none;
  border-radius: 4px;
  width: 100%;
  font-family: "IBM Plex Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  background-color: gray;
  color: #fff;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 2px 2px 0 rgb(0 0 0 / 14%);
}

.ant-picker-date-panel,
.ant-picker-time-panel {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.ant-picker-date-panel .ant-picker-content {
  width: 475px;
}
