.local-location {
  display: flex;
  margin-top: -3px;
  cursor: pointer;
}
.local-location .location-boxs {
  display: flex;
  align-items: center;
  padding: 16px 0;
  color: #1f1f1f;
}
.local-location .location-boxs .anticon svg {
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 32px;
  height: 32px;
  background-size: cover;
}
.suggested {
  background-color: #fbfbfb;
}
.suggested-box {
  padding: 10px 50px;
  width: 100%;
  overflow: hidden;
}
.suggested .suggested-box h3 {
  background-color: #f5f5f5;
  padding: 8px;
  margin: 16px 0 0 0;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}

.pickUp-Btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  max-width: 440px;
  margin-top: 0;
  margin-bottom: 16px;
  margin-right: auto;
  margin-left: auto;
  border: none;
  border-radius: 4px;
  width: 100%;
  font-family: "IBM Plex Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 2px 2px 0 rgb(0 0 0 / 14%);
}
 .active {
  background-color: #10a310;
  color: #fff;
}
 .disable {
  background-color: gray;
  color: #fff;
}
.addressBar-map {
  background: #ff0;
  height: 48px;
  border-radius: 4px;
  color: #000;
  background-color: #ffffff;
  border: 1px solid #ccc;
  position: absolute;
  z-index: 2;
  margin: 10px 16px;
  display: flex;
  width: 100%;
}

.addressBar-map .icon {
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 32px;
  height: 32px;
  background-size: cover;
  padding-top: 1rem;
}
.addressBar-map .address {
  padding-top: 0.7rem;
  color: #000;
}
.row .anticon {
  justify-content: left;
}
.map{
    background: #ccc;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
button[title="Toggle fullscreen view"] {
  display: none;
}

.bottom-button {
  position: fixed;
  bottom: 0;
  z-index: 2;
  left: 50%;
  width: 300px;
  margin-left: -150px;
}

.bottom-button .continue {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  max-width: 440px;
  margin-top: 0;
  margin-bottom: 16px;
  margin-right: auto;
  margin-left: auto;
  border: none;
  border-radius: 4px;
  width: 100%;
  font-family: "IBM Plex Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.8px;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 1px 5px 0rgba (0, 0, 0, 0.2), 0 3px 1px -2pxrgba (0, 0, 0, 0.12),
    0 2px 2px 0 rgba(0, 0, 0, 0.14);
}

.bottom-button .active{
  background-color: #10a310;
}
.bottom-button .disable {
  background-color: gray
}
